/node_modules/
/public/
/var/
/dev/public/assets/lib/angular
/dev/public/assets/lib/angular-*
/dev/public/assets/dist/
/npm-debug.log
/.vagrant/
*.out
*.log
/server.js
/nbproject/
/api/
/dev/public/assets/lib/bootstrap/
/dev/public/assets/lib/jquery/
